In [1]:
from zipfile import ZipFile

# extract zip data
with ZipFile("../data/raw/PS_20174392719_1491204439457_log.csv (1).zip", 'r') as zObject:
    zObject.extractall(path="../data/raw/")

In [2]:
import os
import sys


# os.environ['PYSPARK_PYTHON'] = sys.executable
# os.environ['PYSPARK_DRIVER_PYTHON'] = sys.executable
os.environ["PYSPARK_DRIVER_PYTHON"]= "jupyter"
os.environ["PYSPARK_DRIVER_PYTHON_OPTS"]= "notebook"
os.environ["PYSPARK_PYTHON"]= "python"

In [3]:
import pyspark
import pandas as pd
from pyspark.sql import SparkSession

In [4]:
spark = SparkSession \
        .builder.appName('PreprocessData') \
        .master("local[*]")\
        .getOrCreate()

In [5]:
df = spark.read \
    .option("header", "true") \
    .option("index", "true") \
    .csv('../data/raw/PS_20174392719_1491204439457_log.csv')

In [10]:
from pyspark.sql import functions as F
from pyspark.sql.types import DoubleType, IntegerType

df = df.withColumn('amount', F.col('amount').cast(DoubleType()))\
       .withColumn('oldbalanceOrg', F.col('oldbalanceOrg').cast(DoubleType()))\
       .withColumn('newbalanceOrig', F.col('newbalanceOrig').cast(DoubleType()))\
       .withColumn('isFraud', F.col('isFraud').cast(IntegerType()))\
       .withColumn('isFlaggedFraud', F.col('isFlaggedFraud').cast(IntegerType()))

df.printSchema()

root
 |-- step: string (nullable = true)
 |-- type: string (nullable = true)
 |-- amount: double (nullable = true)
 |-- nameOrig: string (nullable = true)
 |-- oldbalanceOrg: double (nullable = true)
 |-- newbalanceOrig: double (nullable = true)
 |-- nameDest: string (nullable = true)
 |-- oldbalanceDest: string (nullable = true)
 |-- newbalanceDest: string (nullable = true)
 |-- isFraud: integer (nullable = true)
 |-- isFlaggedFraud: integer (nullable = true)

In [6]:
df.printSchema()

root
 |-- step: string (nullable = true)
 |-- type: string (nullable = true)
 |-- amount: string (nullable = true)
 |-- nameOrig: string (nullable = true)
 |-- oldbalanceOrg: string (nullable = true)
 |-- newbalanceOrig: string (nullable = true)
 |-- nameDest: string (nullable = true)
 |-- oldbalanceDest: string (nullable = true)
 |-- newbalanceDest: string (nullable = true)
 |-- isFraud: string (nullable = true)
 |-- isFlaggedFraud: string (nullable = true)

In [7]:
df.show(10)

+----+--------+--------+-----------+-------------+--------------+-----------+--------------+--------------+-------+--------------+
|step|    type|  amount|   nameOrig|oldbalanceOrg|newbalanceOrig|   nameDest|oldbalanceDest|newbalanceDest|isFraud|isFlaggedFraud|
+----+--------+--------+-----------+-------------+--------------+-----------+--------------+--------------+-------+--------------+
|   1| PAYMENT| 9839.64|C1231006815|     170136.0|     160296.36|M1979787155|           0.0|           0.0|      0|             0|
|   1| PAYMENT| 1864.28|C1666544295|      21249.0|      19384.72|M2044282225|           0.0|           0.0|      0|             0|
|   1|TRANSFER|   181.0|C1305486145|        181.0|           0.0| C553264065|           0.0|           0.0|      1|             0|
|   1|CASH_OUT|   181.0| C840083671|        181.0|           0.0|  C38997010|       21182.0|           0.0|      1|             0|
|   1| PAYMENT|11668.14|C2048537720|      41554.0|      29885.86|M1230701703|           0.0|           0.0|      0|             0|
|   1| PAYMENT| 7817.71|  C90045638|      53860.0|      46042.29| M573487274|           0.0|           0.0|      0|             0|
|   1| PAYMENT| 7107.77| C154988899|     183195.0|     176087.23| M408069119|           0.0|           0.0|      0|             0|
|   1| PAYMENT| 7861.64|C1912850431|    176087.23|     168225.59| M633326333|           0.0|           0.0|      0|             0|
|   1| PAYMENT| 4024.36|C1265012928|       2671.0|           0.0|M1176932104|           0.0|           0.0|      0|             0|
|   1|   DEBIT| 5337.77| C712410124|      41720.0|      36382.23| C195600860|       41898.0|      40348.79|      0|             0|
+----+--------+--------+-----------+-------------+--------------+-----------+--------------+--------------+-------+--------------+
only showing top 10 rows

In [8]:
from pyspark.sql.functions import col,isnan, when, count

# check missing values
df.select(\
    [count( \
        when( isnan(c) | col(c).isNull(), c) \
    ).alias(c) for c in df.columns])\
   .show()

+----+----+------+--------+-------------+--------------+--------+--------------+--------------+-------+--------------+
|step|type|amount|nameOrig|oldbalanceOrg|newbalanceOrig|nameDest|oldbalanceDest|newbalanceDest|isFraud|isFlaggedFraud|
+----+----+------+--------+-------------+--------------+--------+--------------+--------------+-------+--------------+
|   0|   0|     0|       0|            0|             0|       0|             0|             0|      0|             0|
+----+----+------+--------+-------------+--------------+--------+--------------+--------------+-------+--------------+

In [6]:
from datetime import datetime, timedelta
from pyspark.sql import functions as F

dt = datetime(2023, 5, 1, 0)
# print(dt + timedelta(days = 4, hours=700))

def step_to_date(step, dt = dt):
    step = int(step)
    new_dt = dt + timedelta(hours=step)

    new_dt_str = new_dt.__str__()
    return new_dt_str

In [7]:
from pyspark.sql.types import TimestampType, StringType, IntegerType, LongType

step_to_date_UDF = F.udf(lambda z: step_to_date(z),StringType())

In [8]:
# df.select(F.col("step"), \
#     step_to_date_UDF(F.col("step")).alias("datetime") ) \
#     .withColumn("datetime", F.to_timestamp("datetime"))\
#    .show()

df_transform = df.withColumn('datetime',\
              F.to_timestamp(\
                  step_to_date_UDF(F.col('step'))\
              ))\
             .select(
                 'datetime',
                 'type',
                'amount',
                'nameOrig',
                'oldbalanceOrg',
                'newbalanceOrig',
                'nameDest',
                'oldbalanceDest',
                'newbalanceDest',
                'isFraud',
                'isFlaggedFraud',
                )

df_transform.show()

+-------------------+--------+---------+-----------+-------------+--------------+-----------+--------------+--------------+-------+--------------+
|           datetime|    type|   amount|   nameOrig|oldbalanceOrg|newbalanceOrig|   nameDest|oldbalanceDest|newbalanceDest|isFraud|isFlaggedFraud|
+-------------------+--------+---------+-----------+-------------+--------------+-----------+--------------+--------------+-------+--------------+
|2023-05-01 01:00:00| PAYMENT|  9839.64|C1231006815|     170136.0|     160296.36|M1979787155|           0.0|           0.0|      0|             0|
|2023-05-01 01:00:00| PAYMENT|  1864.28|C1666544295|      21249.0|      19384.72|M2044282225|           0.0|           0.0|      0|             0|
|2023-05-01 01:00:00|TRANSFER|    181.0|C1305486145|        181.0|           0.0| C553264065|           0.0|           0.0|      1|             0|
|2023-05-01 01:00:00|CASH_OUT|    181.0| C840083671|        181.0|           0.0|  C38997010|       21182.0|           0.0|      1|             0|
|2023-05-01 01:00:00| PAYMENT| 11668.14|C2048537720|      41554.0|      29885.86|M1230701703|           0.0|           0.0|      0|             0|
|2023-05-01 01:00:00| PAYMENT|  7817.71|  C90045638|      53860.0|      46042.29| M573487274|           0.0|           0.0|      0|             0|
|2023-05-01 01:00:00| PAYMENT|  7107.77| C154988899|     183195.0|     176087.23| M408069119|           0.0|           0.0|      0|             0|
|2023-05-01 01:00:00| PAYMENT|  7861.64|C1912850431|    176087.23|     168225.59| M633326333|           0.0|           0.0|      0|             0|
|2023-05-01 01:00:00| PAYMENT|  4024.36|C1265012928|       2671.0|           0.0|M1176932104|           0.0|           0.0|      0|             0|
|2023-05-01 01:00:00|   DEBIT|  5337.77| C712410124|      41720.0|      36382.23| C195600860|       41898.0|      40348.79|      0|             0|
|2023-05-01 01:00:00|   DEBIT|  9644.94|C1900366749|       4465.0|           0.0| C997608398|       10845.0|     157982.12|      0|             0|
|2023-05-01 01:00:00| PAYMENT|  3099.97| C249177573|      20771.0|      17671.03|M2096539129|           0.0|           0.0|      0|             0|
|2023-05-01 01:00:00| PAYMENT|  2560.74|C1648232591|       5070.0|       2509.26| M972865270|           0.0|           0.0|      0|             0|
|2023-05-01 01:00:00| PAYMENT| 11633.76|C1716932897|      10127.0|           0.0| M801569151|           0.0|           0.0|      0|             0|
|2023-05-01 01:00:00| PAYMENT|  4098.78|C1026483832|     503264.0|     499165.22|M1635378213|           0.0|           0.0|      0|             0|
|2023-05-01 01:00:00|CASH_OUT|229133.94| C905080434|      15325.0|           0.0| C476402209|        5083.0|      51513.44|      0|             0|
|2023-05-01 01:00:00| PAYMENT|  1563.82| C761750706|        450.0|           0.0|M1731217984|           0.0|           0.0|      0|             0|
|2023-05-01 01:00:00| PAYMENT|  1157.86|C1237762639|      21156.0|      19998.14|M1877062907|           0.0|           0.0|      0|             0|
|2023-05-01 01:00:00| PAYMENT|   671.64|C2033524545|      15123.0|      14451.36| M473053293|           0.0|           0.0|      0|             0|
|2023-05-01 01:00:00|TRANSFER| 215310.3|C1670993182|        705.0|           0.0|C1100439041|       22425.0|           0.0|      0|             0|
+-------------------+--------+---------+-----------+-------------+--------------+-----------+--------------+--------------+-------+--------------+
only showing top 20 rows

In [9]:
df_transform = df_transform.withColumn("id_transaction", F.monotonically_increasing_id().cast(IntegerType()))

df_transform.show()

+-------------------+--------+---------+-----------+-------------+--------------+-----------+--------------+--------------+-------+--------------+--------------+
|           datetime|    type|   amount|   nameOrig|oldbalanceOrg|newbalanceOrig|   nameDest|oldbalanceDest|newbalanceDest|isFraud|isFlaggedFraud|id_transaction|
+-------------------+--------+---------+-----------+-------------+--------------+-----------+--------------+--------------+-------+--------------+--------------+
|2023-05-01 01:00:00| PAYMENT|  9839.64|C1231006815|     170136.0|     160296.36|M1979787155|           0.0|           0.0|      0|             0|             0|
|2023-05-01 01:00:00| PAYMENT|  1864.28|C1666544295|      21249.0|      19384.72|M2044282225|           0.0|           0.0|      0|             0|             1|
|2023-05-01 01:00:00|TRANSFER|    181.0|C1305486145|        181.0|           0.0| C553264065|           0.0|           0.0|      1|             0|             2|
|2023-05-01 01:00:00|CASH_OUT|    181.0| C840083671|        181.0|           0.0|  C38997010|       21182.0|           0.0|      1|             0|             3|
|2023-05-01 01:00:00| PAYMENT| 11668.14|C2048537720|      41554.0|      29885.86|M1230701703|           0.0|           0.0|      0|             0|             4|
|2023-05-01 01:00:00| PAYMENT|  7817.71|  C90045638|      53860.0|      46042.29| M573487274|           0.0|           0.0|      0|             0|             5|
|2023-05-01 01:00:00| PAYMENT|  7107.77| C154988899|     183195.0|     176087.23| M408069119|           0.0|           0.0|      0|             0|             6|
|2023-05-01 01:00:00| PAYMENT|  7861.64|C1912850431|    176087.23|     168225.59| M633326333|           0.0|           0.0|      0|             0|             7|
|2023-05-01 01:00:00| PAYMENT|  4024.36|C1265012928|       2671.0|           0.0|M1176932104|           0.0|           0.0|      0|             0|             8|
|2023-05-01 01:00:00|   DEBIT|  5337.77| C712410124|      41720.0|      36382.23| C195600860|       41898.0|      40348.79|      0|             0|             9|
|2023-05-01 01:00:00|   DEBIT|  9644.94|C1900366749|       4465.0|           0.0| C997608398|       10845.0|     157982.12|      0|             0|            10|
|2023-05-01 01:00:00| PAYMENT|  3099.97| C249177573|      20771.0|      17671.03|M2096539129|           0.0|           0.0|      0|             0|            11|
|2023-05-01 01:00:00| PAYMENT|  2560.74|C1648232591|       5070.0|       2509.26| M972865270|           0.0|           0.0|      0|             0|            12|
|2023-05-01 01:00:00| PAYMENT| 11633.76|C1716932897|      10127.0|           0.0| M801569151|           0.0|           0.0|      0|             0|            13|
|2023-05-01 01:00:00| PAYMENT|  4098.78|C1026483832|     503264.0|     499165.22|M1635378213|           0.0|           0.0|      0|             0|            14|
|2023-05-01 01:00:00|CASH_OUT|229133.94| C905080434|      15325.0|           0.0| C476402209|        5083.0|      51513.44|      0|             0|            15|
|2023-05-01 01:00:00| PAYMENT|  1563.82| C761750706|        450.0|           0.0|M1731217984|           0.0|           0.0|      0|             0|            16|
|2023-05-01 01:00:00| PAYMENT|  1157.86|C1237762639|      21156.0|      19998.14|M1877062907|           0.0|           0.0|      0|             0|            17|
|2023-05-01 01:00:00| PAYMENT|   671.64|C2033524545|      15123.0|      14451.36| M473053293|           0.0|           0.0|      0|             0|            18|
|2023-05-01 01:00:00|TRANSFER| 215310.3|C1670993182|        705.0|           0.0|C1100439041|       22425.0|           0.0|      0|             0|            19|
+-------------------+--------+---------+-----------+-------------+--------------+-----------+--------------+--------------+-------+--------------+--------------+
only showing top 20 rows

In [10]:
dim_type = df_transform.select('type').distinct().withColumn("id_type", F.monotonically_increasing_id().cast(IntegerType()))

dim_type.show()

+--------+-------+
|    type|id_type|
+--------+-------+
|TRANSFER|      0|
| CASH_IN|      1|
|CASH_OUT|      2|
| PAYMENT|      3|
|   DEBIT|      4|
+--------+-------+

In [11]:
dim_orig = df_transform.select('nameOrig', 'oldbalanceOrg', 'newbalanceOrig').distinct().withColumn("id_orig", F.monotonically_increasing_id().cast(IntegerType()))

dim_orig.show()

+-----------+-------------+--------------+-------+
|   nameOrig|oldbalanceOrg|newbalanceOrig|id_orig|
+-----------+-------------+--------------+-------+
|C1000211739|    126268.96|     120654.21|      0|
|C1000622818|      21174.0|           0.0|      1|
|C1000875171|    1611454.8|    1636596.75|      2|
|C1001477450|          0.0|           0.0|      3|
|C1001568425|      27484.0|       15171.8|      4|
|C1002880109|   1945231.72|    2055317.36|      5|
|C1003353224|      24205.0|           0.0|      6|
|C1003440677|    197144.07|     172401.41|      7|
|C1003718398|     63832.92|      63360.19|      8|
|C1003855553|          0.0|           0.0|      9|
|C1003978811|   6729339.89|    6865597.95|     10|
|C1004583006|      30076.0|           0.0|     11|
|C1004882514|          0.0|           0.0|     12|
|C1004916517|     123354.0|           0.0|     13|
|C1005606914|          0.0|           0.0|     14|
| C100576908|       1365.0|           0.0|     15|
|C1005800772|          0.0|           0.0|     16|
|C1006032372|          0.0|           0.0|     17|
|C1006155819|      23307.0|     335081.69|     18|
|C1006534058|          0.0|           0.0|     19|
+-----------+-------------+--------------+-------+
only showing top 20 rows

In [12]:
dim_date = df_transform.select('datetime').distinct().withColumn("id_date", F.monotonically_increasing_id().cast(IntegerType()))

dim_date.show()

+-------------------+-------+
|           datetime|id_date|
+-------------------+-------+
|2023-05-01 05:00:00|      0|
|2023-05-02 16:00:00|      1|
|2023-05-07 08:00:00|      2|
|2023-05-01 10:00:00|      3|
|2023-05-06 02:00:00|      4|
|2023-05-02 20:00:00|      5|
|2023-05-01 15:00:00|      6|
|2023-05-03 20:00:00|      7|
|2023-05-02 08:00:00|      8|
|2023-05-03 04:00:00|      9|
|2023-05-06 06:00:00|     10|
|2023-05-03 23:00:00|     11|
|2023-05-05 15:00:00|     12|
|2023-05-05 21:00:00|     13|
|2023-05-06 08:00:00|     14|
|2023-05-04 14:00:00|     15|
|2023-05-06 01:00:00|     16|
|2023-05-06 15:00:00|     17|
|2023-05-02 19:00:00|     18|
|2023-05-05 19:00:00|     19|
+-------------------+-------+
only showing top 20 rows

In [15]:
df_transform_type = df_transform.join(dim_type, 'type')

df_transform_type.show()

+--------+-------------------+----------+-----------+-------------+--------------+-----------+--------------+--------------+-------+--------------+--------------+-------+
|    type|           datetime|    amount|   nameOrig|oldbalanceOrg|newbalanceOrig|   nameDest|oldbalanceDest|newbalanceDest|isFraud|isFlaggedFraud|id_transaction|id_type|
+--------+-------------------+----------+-----------+-------------+--------------+-----------+--------------+--------------+-------+--------------+--------------+-------+
|TRANSFER|2023-05-01 01:00:00|     181.0|C1305486145|        181.0|           0.0| C553264065|           0.0|           0.0|      1|             0|             2|      0|
|TRANSFER|2023-05-01 01:00:00|  215310.3|C1670993182|        705.0|           0.0|C1100439041|       22425.0|           0.0|      0|             0|            19|      0|
|TRANSFER|2023-05-01 01:00:00| 311685.89|C1984094095|      10835.0|           0.0| C932583850|        6267.0|    2719172.89|      0|             0|            24|      0|
|TRANSFER|2023-05-01 01:00:00|   62610.8|C1976401987|      79114.0|       16503.2|C1937962514|         517.0|       8383.29|      0|             0|            58|      0|
|TRANSFER|2023-05-01 01:00:00|  42712.39| C283039401|     10363.39|           0.0|C1330106945|      57901.66|      24044.18|      0|             0|            78|      0|
|TRANSFER|2023-05-01 01:00:00|  77957.68| C207471778|          0.0|           0.0|C1761291320|       94900.0|      22233.65|      0|             0|            79|      0|
|TRANSFER|2023-05-01 01:00:00|  17231.46|C1243171897|          0.0|           0.0| C783286238|       24672.0|           0.0|      0|             0|            80|      0|
|TRANSFER|2023-05-01 01:00:00|  78766.03|C1376151044|          0.0|           0.0|C1749186397|      103772.0|     277515.05|      0|             0|            81|      0|
|TRANSFER|2023-05-01 01:00:00| 224606.64| C873175411|          0.0|           0.0| C766572210|     354678.92|           0.0|      0|             0|            82|      0|
|TRANSFER|2023-05-01 01:00:00| 125872.53|C1443967876|          0.0|           0.0| C392292416|      348512.0|    3420103.09|      0|             0|            83|      0|
|TRANSFER|2023-05-01 01:00:00| 379856.23|C1449772539|          0.0|           0.0|C1590550415|      900180.0| 1.916920493E7|      0|             0|            84|      0|
|TRANSFER|2023-05-01 01:00:00|1505626.01| C926859124|          0.0|           0.0| C665576141|       29031.0|    5515763.34|      0|             0|            85|      0|
|TRANSFER|2023-05-01 01:00:00| 554026.99|C1603696865|          0.0|           0.0| C766572210|     579285.56|           0.0|      0|             0|            86|      0|
|TRANSFER|2023-05-01 01:00:00|  147543.1|  C12905860|          0.0|           0.0|C1359044626|      223220.0|      16518.36|      0|             0|            87|      0|
|TRANSFER|2023-05-01 01:00:00| 761507.39| C412788346|          0.0|           0.0|C1590550415|    1280036.23| 1.916920493E7|      0|             0|            88|      0|
|TRANSFER|2023-05-01 01:00:00|1429051.47|C1520267010|          0.0|           0.0|C1590550415|    2041543.62| 1.916920493E7|      0|             0|            89|      0|
|TRANSFER|2023-05-01 01:00:00| 358831.92| C908084672|          0.0|           0.0| C392292416|     474384.53|    3420103.09|      0|             0|            90|      0|
|TRANSFER|2023-05-01 01:00:00|  367768.4| C288306765|          0.0|           0.0|C1359044626|      370763.1|      16518.36|      0|             0|            91|      0|
|TRANSFER|2023-05-01 01:00:00| 209711.11|C1556867940|          0.0|           0.0|C1509514333|     399214.71|       2415.16|      0|             0|            92|      0|
|TRANSFER|2023-05-01 01:00:00| 583848.46|C1839168128|          0.0|           0.0|C1286084959|      667778.0|    2107778.11|      0|             0|            93|      0|
+--------+-------------------+----------+-----------+-------------+--------------+-----------+--------------+--------------+-------+--------------+--------------+-------+
only showing top 20 rows

In [18]:
df_transform_orig = df_transform_type.alias('a').join(dim_orig.alias('b'),
                        (df_transform.nameOrig == dim_orig.nameOrig) & 
                        (df_transform.oldbalanceOrg == dim_orig.oldbalanceOrg) &
                        (df_transform.newbalanceOrig == dim_orig.newbalanceOrig)
                        ).select('a.*', 'b.id_orig')

df_transform_orig.show()

+--------+-------------------+---------+-----------+-------------+--------------+-----------+--------------+--------------+-------+--------------+--------------+-------+-------+
|    type|           datetime|   amount|   nameOrig|oldbalanceOrg|newbalanceOrig|   nameDest|oldbalanceDest|newbalanceDest|isFraud|isFlaggedFraud|id_transaction|id_type|id_orig|
+--------+-------------------+---------+-----------+-------------+--------------+-----------+--------------+--------------+-------+--------------+--------------+-------+-------+
| PAYMENT|2023-05-02 22:00:00|  8424.74|C1000001725|        783.0|           0.0|M1974356374|           0.0|           0.0|      0|             0|       1013585|      3|  64247|
|CASH_OUT|2023-05-12 16:00:00| 58347.84|C1000008393|      10794.0|           0.0| C615558732|    2551590.32|    2609938.16|      0|             0|        574967|      2| 313386|
| CASH_IN|2023-05-07 12:00:00|108365.47|C1000018372| 1.83412097E7| 1.844957517E7|C1247890187|     315345.28|     206979.81|      0|             0|            66|      1| 121329|
| PAYMENT|2023-05-01 19:00:00| 12454.86|C1000018663|    390810.67|     378355.81| M688561217|           0.0|           0.0|      0|             0|        490149|      3|  96895|
|TRANSFER|2023-05-10 16:00:00|420906.13|C1000024959|          0.0|           0.0| C251954641|     505697.03|     926603.16|      0|             0|       1383067|      0| 145393|
| CASH_IN|2023-05-13 01:00:00|223513.23|C1000026057|   2911285.73|    3134798.97|C1016426344|     482434.06|     258920.82|      0|             0|        744826|      1| 353931|
|CASH_OUT|2023-05-10 14:00:00|232765.42| C100002808|      95229.0|           0.0|C1520593498|     274547.46|     507312.88|      0|             0|       1337685|      2| 209077|
|CASH_OUT|2023-05-10 15:00:00|164337.58|C1000035741|      32911.0|           0.0|C2121799270|     564495.37|     728832.94|      0|             0|       1367190|      2| 225389|
|CASH_OUT|2023-05-09 21:00:00| 33414.36|C1000036527|      24180.0|           0.0|C1965413720|      568256.0|     601670.36|      0|             0|       1151293|      2| 121330|
|CASH_OUT|2023-05-09 19:00:00| 278883.6|C1000036998|      27674.0|           0.0| C472295300|           0.0|      278883.6|      0|             0|       1102794|      2| 121331|
| CASH_IN|2023-05-16 12:00:00| 36817.54|C1000037216|   2299008.68|    2335826.22|C1433396439|     189592.54|      152775.0|      0|             0|        454275|      1| 400619|
|CASH_OUT|2023-05-08 10:00:00|157989.18|C1000046094|      31422.0|           0.0| C578105056|           0.0|     157989.18|      0|             0|        352808|      2| 145394|
| CASH_IN|2023-05-12 14:00:00| 35641.96|C1000046797|1.102372487E7| 1.105936684E7| C638938853|     459375.08|     423733.12|      0|             0|        515681|      1| 256998|
| PAYMENT|2023-05-14 17:00:00| 16669.78|C1000048287|    237132.58|      220462.8|M1122286236|           0.0|           0.0|      0|             0|       1407573|      3| 329644|
| CASH_IN|2023-05-15 17:00:00| 71801.78| C100005132|     327251.0|     399052.78|C1013166922|     321931.14|     250129.35|      0|             0|        186536|      1| 377517|
|CASH_OUT|2023-05-01 14:00:00| 84631.88|C1000053363|      61926.0|           0.0|C1978259635|           0.0|      84631.88|      0|             0|        225949|      2|  47997|
| PAYMENT|2023-05-01 14:00:00| 13156.76|C1000058668|      53646.0|      40489.24| M568028750|           0.0|           0.0|      0|             0|        219962|      3|  31974|
|CASH_OUT|2023-05-13 21:00:00|412480.14|C1000062494|          0.0|           0.0|C1149987622|     523088.39|     935568.53|      0|             0|       1135018|      2| 265168|
|CASH_OUT|2023-05-11 19:00:00| 57990.24|C1000063037|          0.0|           0.0|C2116300479|    1300586.35|    1358576.59|      0|             0|        282025|      2| 329645|
| CASH_IN|2023-05-14 17:00:00|590353.82|C1000069522|1.316634933E7| 1.375670316E7|C1318377564|    1714421.08|    1124067.26|      0|             0|       1408300|      1| 265169|
+--------+-------------------+---------+-----------+-------------+--------------+-----------+--------------+--------------+-------+--------------+--------------+-------+-------+
only showing top 20 rows

In [19]:
df_transform_date = df_transform_orig.join(dim_date, 'datetime')

df_transform_date.show()

+-------------------+--------+---------+-----------+-------------+--------------+-----------+--------------+--------------+-------+--------------+--------------+-------+-------+-------+
|           datetime|    type|   amount|   nameOrig|oldbalanceOrg|newbalanceOrig|   nameDest|oldbalanceDest|newbalanceDest|isFraud|isFlaggedFraud|id_transaction|id_type|id_orig|id_date|
+-------------------+--------+---------+-----------+-------------+--------------+-----------+--------------+--------------+-------+--------------+--------------+-------+-------+-------+
|2023-05-02 22:00:00| PAYMENT|  8424.74|C1000001725|        783.0|           0.0|M1974356374|           0.0|           0.0|      0|             0|       1013585|      3|  64247|    141|
|2023-05-12 16:00:00|CASH_OUT| 58347.84|C1000008393|      10794.0|           0.0| C615558732|    2551590.32|    2609938.16|      0|             0|        574967|      2| 313386|    290|
|2023-05-07 12:00:00| CASH_IN|108365.47|C1000018372| 1.83412097E7| 1.844957517E7|C1247890187|     315345.28|     206979.81|      0|             0|            66|      1| 121329|    135|
|2023-05-01 19:00:00| PAYMENT| 12454.86|C1000018663|    390810.67|     378355.81| M688561217|           0.0|           0.0|      0|             0|        490149|      3|  96895|    139|
|2023-05-10 16:00:00|TRANSFER|420906.13|C1000024959|          0.0|           0.0| C251954641|     505697.03|     926603.16|      0|             0|       1383067|      0| 145393|    187|
|2023-05-13 01:00:00| CASH_IN|223513.23|C1000026057|   2911285.73|    3134798.97|C1016426344|     482434.06|     258920.82|      0|             0|        744826|      1| 353931|    281|
|2023-05-10 14:00:00|CASH_OUT|232765.42| C100002808|      95229.0|           0.0|C1520593498|     274547.46|     507312.88|      0|             0|       1337685|      2| 209077|    208|
|2023-05-10 15:00:00|CASH_OUT|164337.58|C1000035741|      32911.0|           0.0|C2121799270|     564495.37|     728832.94|      0|             0|       1367190|      2| 225389|    215|
|2023-05-09 21:00:00|CASH_OUT| 33414.36|C1000036527|      24180.0|           0.0|C1965413720|      568256.0|     601670.36|      0|             0|       1151293|      2| 121330|    166|
|2023-05-09 19:00:00|CASH_OUT| 278883.6|C1000036998|      27674.0|           0.0| C472295300|           0.0|      278883.6|      0|             0|       1102794|      2| 121331|    243|
|2023-05-16 12:00:00| CASH_IN| 36817.54|C1000037216|   2299008.68|    2335826.22|C1433396439|     189592.54|      152775.0|      0|             0|        454275|      1| 400619|    571|
|2023-05-08 10:00:00|CASH_OUT|157989.18|C1000046094|      31422.0|           0.0| C578105056|           0.0|     157989.18|      0|             0|        352808|      2| 145394|    204|
|2023-05-12 14:00:00| CASH_IN| 35641.96|C1000046797|1.102372487E7| 1.105936684E7| C638938853|     459375.08|     423733.12|      0|             0|        515681|      1| 256998|    316|
|2023-05-14 17:00:00| PAYMENT| 16669.78|C1000048287|    237132.58|      220462.8|M1122286236|           0.0|           0.0|      0|             0|       1407573|      3| 329644|    288|
|2023-05-15 17:00:00| CASH_IN| 71801.78| C100005132|     327251.0|     399052.78|C1013166922|     321931.14|     250129.35|      0|             0|        186536|      1| 377517|    431|
|2023-05-01 14:00:00|CASH_OUT| 84631.88|C1000053363|      61926.0|           0.0|C1978259635|           0.0|      84631.88|      0|             0|        225949|      2|  47997|    122|
|2023-05-01 14:00:00| PAYMENT| 13156.76|C1000058668|      53646.0|      40489.24| M568028750|           0.0|           0.0|      0|             0|        219962|      3|  31974|    122|
|2023-05-13 21:00:00|CASH_OUT|412480.14|C1000062494|          0.0|           0.0|C1149987622|     523088.39|     935568.53|      0|             0|       1135018|      2| 265168|    331|
|2023-05-11 19:00:00|CASH_OUT| 57990.24|C1000063037|          0.0|           0.0|C2116300479|    1300586.35|    1358576.59|      0|             0|        282025|      2| 329645|    311|
|2023-05-14 17:00:00| CASH_IN|590353.82|C1000069522|1.316634933E7| 1.375670316E7|C1318377564|    1714421.08|    1124067.26|      0|             0|       1408300|      1| 265169|    288|
+-------------------+--------+---------+-----------+-------------+--------------+-----------+--------------+--------------+-------+--------------+--------------+-------+-------+-------+
only showing top 20 rows

In [50]:
df_transform.printSchema()

root
 |-- datetime: timestamp (nullable = true)
 |-- type: string (nullable = true)
 |-- amount: string (nullable = true)
 |-- nameOrig: string (nullable = true)
 |-- oldbalanceOrg: string (nullable = true)
 |-- newbalanceOrig: string (nullable = true)
 |-- nameDest: string (nullable = true)
 |-- oldbalanceDest: string (nullable = true)
 |-- newbalanceDest: string (nullable = true)
 |-- isFraud: string (nullable = true)
 |-- isFlaggedFraud: string (nullable = true)
 |-- id: integer (nullable = false)
 |-- id_date: string (nullable = true)

In [62]:
df_transform = df_transform.withColumn('id_date', F.date_format(F.col('datetime'), "yyyyMMdd").cast(IntegerType()))

df_transform.show()

+-------------------+--------+---------+-----------+-------------+--------------+-----------+--------------+--------------+-------+--------------+---+--------+
|           datetime|    type|   amount|   nameOrig|oldbalanceOrg|newbalanceOrig|   nameDest|oldbalanceDest|newbalanceDest|isFraud|isFlaggedFraud| id| id_date|
+-------------------+--------+---------+-----------+-------------+--------------+-----------+--------------+--------------+-------+--------------+---+--------+
|2023-05-01 01:00:00| PAYMENT|  9839.64|C1231006815|     170136.0|     160296.36|M1979787155|           0.0|           0.0|      0|             0|  0|20230501|
|2023-05-01 01:00:00| PAYMENT|  1864.28|C1666544295|      21249.0|      19384.72|M2044282225|           0.0|           0.0|      0|             0|  1|20230501|
|2023-05-01 01:00:00|TRANSFER|    181.0|C1305486145|        181.0|           0.0| C553264065|           0.0|           0.0|      1|             0|  2|20230501|
|2023-05-01 01:00:00|CASH_OUT|    181.0| C840083671|        181.0|           0.0|  C38997010|       21182.0|           0.0|      1|             0|  3|20230501|
|2023-05-01 01:00:00| PAYMENT| 11668.14|C2048537720|      41554.0|      29885.86|M1230701703|           0.0|           0.0|      0|             0|  4|20230501|
|2023-05-01 01:00:00| PAYMENT|  7817.71|  C90045638|      53860.0|      46042.29| M573487274|           0.0|           0.0|      0|             0|  5|20230501|
|2023-05-01 01:00:00| PAYMENT|  7107.77| C154988899|     183195.0|     176087.23| M408069119|           0.0|           0.0|      0|             0|  6|20230501|
|2023-05-01 01:00:00| PAYMENT|  7861.64|C1912850431|    176087.23|     168225.59| M633326333|           0.0|           0.0|      0|             0|  7|20230501|
|2023-05-01 01:00:00| PAYMENT|  4024.36|C1265012928|       2671.0|           0.0|M1176932104|           0.0|           0.0|      0|             0|  8|20230501|
|2023-05-01 01:00:00|   DEBIT|  5337.77| C712410124|      41720.0|      36382.23| C195600860|       41898.0|      40348.79|      0|             0|  9|20230501|
|2023-05-01 01:00:00|   DEBIT|  9644.94|C1900366749|       4465.0|           0.0| C997608398|       10845.0|     157982.12|      0|             0| 10|20230501|
|2023-05-01 01:00:00| PAYMENT|  3099.97| C249177573|      20771.0|      17671.03|M2096539129|           0.0|           0.0|      0|             0| 11|20230501|
|2023-05-01 01:00:00| PAYMENT|  2560.74|C1648232591|       5070.0|       2509.26| M972865270|           0.0|           0.0|      0|             0| 12|20230501|
|2023-05-01 01:00:00| PAYMENT| 11633.76|C1716932897|      10127.0|           0.0| M801569151|           0.0|           0.0|      0|             0| 13|20230501|
|2023-05-01 01:00:00| PAYMENT|  4098.78|C1026483832|     503264.0|     499165.22|M1635378213|           0.0|           0.0|      0|             0| 14|20230501|
|2023-05-01 01:00:00|CASH_OUT|229133.94| C905080434|      15325.0|           0.0| C476402209|        5083.0|      51513.44|      0|             0| 15|20230501|
|2023-05-01 01:00:00| PAYMENT|  1563.82| C761750706|        450.0|           0.0|M1731217984|           0.0|           0.0|      0|             0| 16|20230501|
|2023-05-01 01:00:00| PAYMENT|  1157.86|C1237762639|      21156.0|      19998.14|M1877062907|           0.0|           0.0|      0|             0| 17|20230501|
|2023-05-01 01:00:00| PAYMENT|   671.64|C2033524545|      15123.0|      14451.36| M473053293|           0.0|           0.0|      0|             0| 18|20230501|
|2023-05-01 01:00:00|TRANSFER| 215310.3|C1670993182|        705.0|           0.0|C1100439041|       22425.0|           0.0|      0|             0| 19|20230501|
+-------------------+--------+---------+-----------+-------------+--------------+-----------+--------------+--------------+-------+--------------+---+--------+
only showing top 20 rows

In [63]:
df_transform.tail(1)

[Row(datetime=datetime.datetime(2023, 5, 31, 23, 0), type='CASH_OUT', amount='850002.52', nameOrig='C1280323807', oldbalanceOrg='850002.52', newbalanceOrig='0.0', nameDest='C873221189', oldbalanceDest='6510099.11', newbalanceDest='7360101.63', isFraud='1', isFlaggedFraud='0', id=1546705, id_date=20230531)]

In [54]:
df_transform.printSchema()

root
 |-- datetime: timestamp (nullable = true)
 |-- type: string (nullable = true)
 |-- amount: string (nullable = true)
 |-- nameOrig: string (nullable = true)
 |-- oldbalanceOrg: string (nullable = true)
 |-- newbalanceOrig: string (nullable = true)
 |-- nameDest: string (nullable = true)
 |-- oldbalanceDest: string (nullable = true)
 |-- newbalanceDest: string (nullable = true)
 |-- isFraud: string (nullable = true)
 |-- isFlaggedFraud: string (nullable = true)
 |-- id: integer (nullable = false)
 |-- id_date: string (nullable = true)

In [40]:
# df_transform.write.options(header='True', delimiter=',') \
#  .csv("../data/preprocessed/PS_20174392719_1491204439457_log.csv")

df_transform.write.parquet("../data/preprocessed/online_transactions.parquet")

In [20]:
spark.stop()

In [7]:
import os
import sys

from datetime import datetime, timedelta

import pyspark
from pyspark.sql import SparkSession
from pyspark.sql import functions as F
from pyspark.sql.types import StringType, IntegerType, DoubleType

spark = SparkSession \
        .builder.appName('PreprocessData') \
        .master("local[*]").config("spark.executor.memory", "2g")\
        .getOrCreate()


# src_file = sys.argv[1]
# output_filename = sys.argv[2]
src_path = f"../datasets/PS_20174392719_1491204439457_log.csv"

print("input file:", src_path)
# print("output file:", output_filename)

print("######################################")
print("READING CSV FILE")
print("######################################")

df = spark.read \
    .option("header", True)\
    .csv(src_path)

dt = datetime(2023, 5, 1, 0)

def step_to_date(step, dt = dt):
    step = int(step)
    new_dt = dt + timedelta(hours=step)

    new_dt_str = new_dt.__str__()
    return new_dt_str

step_to_date_UDF = F.udf(lambda z: step_to_date(z),StringType())

print("######################################")
print("TRANSFORM STEP TO DATETIME")
print("######################################")

df_transform = df.withColumn('dateTransaction',
                             F.to_timestamp(
                                 step_to_date_UDF(F.col('step'))
                            )
                )

print("######################################")
print("TRANSFORM DiffOrg")
print("######################################")

df_transform1 = df_transform.withColumn('DiffOrg',
                        F.when(
                            F.col('type') == 'CASH_IN',
                            F.round(F.col('newbalanceOrig') - F.col('oldbalanceOrg'), 2)
                        )\
                        .otherwise(
                            F.round(F.col('oldbalanceOrg') - F.col('newbalanceOrig'), 2)
                        )
                )

print("######################################")
print("TRANSFORM DiffOrgStatus")
print("######################################")

df_transform2 = df_transform1.withColumn('DiffOrgStatus',
                        F.when(
                            F.col('amount') == F.col('DiffOrg'),
                            1
                        )\
                        .otherwise(
                            0
                        )
                )


print("######################################")
print("DROP UNNECESSARY COLUMNS")
print("######################################")

df_transform3 = df_transform2.drop('step')


print("######################################")
print("SAVE DATA")
print("######################################")

# df_transform3.repartition(1).write.parquet(f"/opt/airflow/datasets/{output_filename}")

df_transform3.repartition(1).printSchema()
# df_transform4 = df_transform3.toPandas().to_parquet(f"/opt/airflow/datasets/{output_filename}", engine="pyarrow" ,index=False)

input file: ../datasets/PS_20174392719_1491204439457_log.csv
######################################
READING CSV FILE
######################################
######################################
TRANSFORM STEP TO DATETIME
######################################
######################################
TRANSFORM DiffOrg
######################################
######################################
TRANSFORM DiffOrgStatus
######################################
######################################
DROP UNNECESSARY COLUMNS
######################################
######################################
SAVE DATA
######################################
root
 |-- type: string (nullable = true)
 |-- amount: string (nullable = true)
 |-- nameOrig: string (nullable = true)
 |-- oldbalanceOrg: string (nullable = true)
 |-- newbalanceOrig: string (nullable = true)
 |-- nameDest: string (nullable = true)
 |-- oldbalanceDest: string (nullable = true)
 |-- newbalanceDest: string (nullable = true)
 |-- isFraud: string (nullable = true)
 |-- isFlaggedFraud: string (nullable = true)
 |-- dateTransaction: timestamp (nullable = true)
 |-- DiffOrg: double (nullable = true)
 |-- DiffOrgStatus: integer (nullable = false)